.row-accordion .col-accordion {
	height: 70vh;
}

.row-accordion {
}

.accordion {
	position: relative;
}

.an-accordion {
	height: 17vh;
	position: relative;
	cursor: pointer;
}

#accord1 {
	box-shadow: 0px 5px #dde39c;
	background-color: #e9edbf;
	z-index: 4;
}
#accord2 {
	box-shadow: 0px 5px #fad338;
	background-color: #fbde6d;
	z-index: 3;
}
#accord3 {
	box-shadow: 0px 2px #8e2a0b;
	background-color: #f2815e;
	z-index: 2;
}
#accord4 {
	background-color: #9d3c54;
	box-shadow: 0px 2px #4a2a48;
	z-index: 1;
}

#accord4 .content-acc {
	color: white;
}

.title-acc {
	margin-top: 10px;
	font-size: 25px;
}

.content-acc {
	padding: 20px 20px 20px 0px;
	box-sizing: border-box;
	display: none;
	opacity: 0;
}

.content-acc .row {
	width: 100%;
}
.move-down {
	right: 50px;
}

.move-up {
	right: 20px;
}

.move-down, .move-up {
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	height: 20px;
	width: 20px;
	z-index: 10;
}

.display {
	display: block !important;
}

.ciut {
	background-color: grey !important;
}

.row {
	margin: 0;
}

@media screen and (max-width: 576px) {
	#accord4 .content-acc {
		font-size: 12px;
	}

	.title-acc {
		margin-top: 5px;
	}
}