:root {
  --fredoka: 'Fredoka One', cursive;
  --roboto: 'Roboto', sans-serif;
  --soft-background: #f9f4ed;
  --almost-red: #c7423f;
}

body {
	background-color: var(--soft-background);
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--fredoka);
}

a:hover {
	text-decoration: none;
}


/*	NAVBAR ZONE	*/

.navbar-brand img {
	width: 50px;
	height: 50px;
}

.navbar-container {
	height: 25vh;
}

.navbar-light {
	background-color: inherit !important;
}

/*	END OF NAVBAR ZONE	*/

