{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/accord.css' %}">{% endblock style %}

{% block title %}<title>Accordion</title>{% endblock title %}

{% block content %}
	<div class="test">
		<section class="accordions" id="accordion">
			<div class="row row-accordion">
				<div class="col col-accordion col-12 offset-0 col-md-8 offset-md-2">
					<div class="accordion" id="accord1">
						<div class="an-accordion">
							<div class="row">
									<div class="col col-10 col-md-8">
										<h1 class="title-acc">Aktivitas Saat Ini</h1>
										<div class="content-acc">		
											<p>Hai! Aktivitasku saat ini sebagai seorang mahasiswa adalah kuliah secara daring. Aku sedang menempuh pendidikan S1 di Universitas Indonesia. Sebagai makhluk sosial, aku juga ikut komunitas volunteer. </p>		
										</div>
								</div>
							</div>
						</div>	
						<div class="move-down"><i class="far fa-hand-point-down"></i></div>
						<div class="move-up"><i class="far fa-hand-point-up"></i></div>
					</div>
					<div class="accordion" id="accord2">
						<div class="an-accordion">
							<div class="row">
								<div class="col col-10 col-md-8">
									<h1 class="title-acc">Pengalaman Kepanitiaan</h1>
									<div class="content-acc">
										<p>Hai! Beberapa pengalaman organisasi/kepanitiaan yang aku punya adalah: </p>
										<ul>
											<li>Staff Divisi Program Kejar Mimpi Jakarta</li>
											<li>Staff Divisi Public Relationship Kejar Mimpi Jakarta</li>
											<li>Panitia MTQ UI 2019</li>
										</ul>
									</div>
								</div>
							</div>
						</div>	
						<div class="move-down"><i class="far fa-hand-point-down"></i></div>
						<div class="move-up"><i class="far fa-hand-point-up"></i></div>
					</div>
					<div class="accordion" id="accord3">
						<div class="an-accordion">
							<div class="row">
								<div class="col col-10 col-md-8">
									<h1 class="title-acc">Prestasi</h1>
									<div class="content-acc">
										<ul>
											<li>Juara 1 lomba berkelana memahami makna kehidupan yang diadakan oleh Naruto</li>
											<li>Menonton berbagai macam anime dalam waktu singkat</li>
										</ul>
									</div>
								</div>
							</div>
						</div>	
						<div class="move-down"><i class="far fa-hand-point-down"></i></div>
						<div class="move-up"><i class="far fa-hand-point-up"></i></div>
					</div>
					<div class="accordion" id="accord4">
						<div class="an-accordion">							
							<div class="row">
								<div class="col col-10 col-md-8">
									<h1 class="title-acc">Hobi atau Kesukaan</h1>
									<div class="content-acc">
										<p>Aku suka banget mendengarkan lagu dari berbagai genre. Aku juga suka membaca buku bertema <i>self-development</i>, biografi, <i>science-fiction</i>. Dan aku suka main game! Game kesukaan aku salah satunya adalah Harvest Moon.</p>
									</div>
								</div>
							</div>
						</div>	
						<div class="move-down"><i class="far fa-hand-point-down"></i></div>
						<div class="move-up"><i class="far fa-hand-point-up"></i></div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/accord.js' %}"></script>
{% endblock script %}
